# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Certificates & Keys (ARCA / AFIP)
*.key
*.crt
*.pem
*.pfx

# Build outputs
dist/
build/

# IDE / System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
